body {
  background: url('../img/bg.jpg');
  font-family: 'Roboto Condensed', 'Roboto', sans-serif;
  font-variation: small-caps;
  color: #1B1B1B;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

/* Contenu principal */

#wrapTexte {
  position: absolute;
  top: -100px;
  left: 200px;
  z-index: 10;
  height: 0;
  width: 0;
  padding: 0;
  /* border: 14px solid #1B1B1B; */
  /* background: url('../img/sustainability.svg') no-repeat center 300px; */
  overflow: hidden;
}

#wrapTexte:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: url('../img/sdg_wheel_thinest_more.svg') no-repeat center center;
  animation: wheelSpin 140s infinite linear;
  -webkit-animation: wheelSpin 140s infinite linear;
  /* opacity: 0.3; */
}

/* Safari 4.0 - 8.0 */

@-webkit-keyframes wheelSpin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Standard syntax */

@keyframes wheelSpin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#main {
  width: 700px;
  height: 312px;
  position: relative;
  right: 350px;
  bottom: 156px;
}

/* Header */

.header {
  width: 94%;
  margin: 0 auto;
}

.pp {
  width: 100%;
}

.ppWrapper {
  width: 27%;
  float: left;
}

.descriptions {
  width: 73%;
  float: right;
}

h1 {
  font-size: 80px;
  font-weight: 400;
  border-bottom: 2px solid #1B1B1B;
}

h2 {
  font-size: 40px;
  font-weight: 300;
}

/* Style g�n�raux */

/* h1, h2, h3 { font-weight: normal; } */

h1, h2 {
  text-align: left;
  margin: 0 0 10px 30px;
}

.center {
  text-align: center;
}

a {
  text-decoration: none;
  color: #1B1B1B;
}

a:hover {
  color: #5E5E5E;
}

svg {
  fill: #1B1B1B;
}

/* Menus */

.wrap {
  height: 90px;
  border-bottom: 3px solid #1B1B1B;
  width: 325px;
  margin-top: 20px;
}

#wrapSDG {
  float: left;
  margin-left: 10px;
}

#wrapSeparator {
  float: left;
  width: 30px;
  border-bottom-style: dotted;
}

#wrapCreativity {
  float: right;
  margin-right: 10px;
}

.menu {
  height: 90px;
  margin: 0 auto;
  overflow: hidden;
  float: left;
}

.wrap .item:first-of-type {
  padding-left: 40px;
}

.item {
  display: block;
  height: 90px;
  padding: 0 23px;
  position: relative;
  top: 50px;
  float: left;
  cursor: pointer;
}

.item img {
  width: 55px;
}

#resume {
  padding: 0 20px;
}

#linkedin {
  padding-left: 20px;
}

.item img, .item svg {
  float: left;
}

.details {
  font-weight: 300;
  font-style: italic;
  text-align: center;
  margin-top: 10px;
}

/* Contacts */

.contacts {
  position: absolute;
  bottom: 19%;
  height: 90px;
  left: 0;
  width: 380px;
  margin: 0 auto;
  right: 0;
}

.contact {
  display: block;
  height: 90px;
  padding: 0 23px;
  float: left;
  cursor: pointer;
}

.contact img {
  width: 30px;
}

.contact img, .contact svg {
  float: left;
}

h3 {
  font-size: 18px;
  text-align: center;
  font-weight: 300;
  text-indent: 25px;
  margin-bottom: 10px;
}


/* En cas de javascript non activ� */

#js {
  text-align: center;
  margin-top: 30px;
}